In [3]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
# set wd
wd =  os.getcwd() + '/release/taxi_log_2008_by_id/'

In [81]:
# make list of all possible day+hour
lis = []
for i in range(2,9):
    for j in arr:
        lis.append(i*100 + j)

In [ ]:
# run loop to extract useful trajectories
df_final = pd.DataFrame()
for file in os.listdir(wd):
    try:
        df_main = pd.read_csv(wd + file, header = None)
        df_main['time'] = df_main[1].apply(lambda x: int(x[8:10]+x[11:13]))
        df_main['count'] = 1
        argmax_obs = int(pd.concat([pd.DataFrame(index = lis ),df_main.groupby(['time'])['count'].sum()], axis=1).rolling(2).sum().idxmax())
        argmax_hrs = [argmax_obs, argmax_obs-1]
        df_subset = df_main[df_main['time'].isin(argmax_hrs)]
        df_final = df_final.append(df_subset)
        del df_subset
        del argmax_hrs
        del df_main
    except:
        pass

In [15]:
# Extract trajectories with 20 to 60 positional records
series = df_final.groupby(['0'])['count'].sum()
series = series[series < 60]
series = series[series > 20]
df_final = df_final[df_final['0'].isin(series.index)]

# view the data
print(df_final.shape)
df_final.head()

(258273, 6)

      0                    1          2         3  time  count
0  2396  2008-02-06 20:00:21  116.31790  39.88848   620      1
1  2396  2008-02-06 20:05:22  116.34790  39.88807   620      1
2  2396  2008-02-06 20:10:24  116.35255  39.88706   620      1
3  2396  2008-02-06 20:15:26  116.35076  39.90324   620      1
4  2396  2008-02-06 20:20:28  116.35767  39.94459   620      1

In [16]:
# rename columns
df_final.columns = ['trip_id', 'timestamp', 'long', 'lat', 'time', 'count']

# view the data
print(df_final.shape)
df_final.head()

(258273, 6)

   trip_id            timestamp       long       lat  time  count
0     2396  2008-02-06 20:00:21  116.31790  39.88848   620      1
1     2396  2008-02-06 20:05:22  116.34790  39.88807   620      1
2     2396  2008-02-06 20:10:24  116.35255  39.88706   620      1
3     2396  2008-02-06 20:15:26  116.35076  39.90324   620      1
4     2396  2008-02-06 20:20:28  116.35767  39.94459   620      1

In [17]:
# save the file 
df_final.to_csv('20190425_trajectories.csv', index = False)